fastapi==0.115.12
matplotlib
numpy
pandas==2.3.0
Pillow==11.2.1
PyYAML==6.0.2
PyYAML==6.0.2
redis==6.2.0
Requests==2.32.3
scikit_learn
seaborn==0.13.2
sentence_transformers==4.1.0
simhash==2.1.2
transformers==4.52.4
websockets==15.0.1
click
h11==0.16.0
uvicorn==0.34.3
